*body{
    margin:0px;
}

.header{
    display:flex;
    flex-direction: row;
    width:100vw;
    height:15vh;
    justify-content:space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 5px;
    margin-top: 0px;
    background-color: whitesmoke;
    margin: -5px;
   

    
}

.logo{
    display:flex;
    width:70px;
    height: 70px;
    justify-content: center;
}

.header-icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px;

}

.header-icon{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
    align-items: center;

}

.header-icon a {
    text-decoration: none;
    color: black;
}

label{
    font-size: 15px;
    font-weight: 550;
}


.rupees{
    display:flex;
    width:10px;
    height:10px;
}

.link{
    display:flex;
    flex-direction: row;
}

.login-sign{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px;

}

.login-image{
    display:flex;
    width:20px;
    height:20px;
    padding-right: 4px;
}


.login{
    display:flex;
    margin:10px;
}

.new-button{
    display:flex;
    flex-direction: row;
    margin:4px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 550;
    border-radius: 8px;
    background-color: #d440db;
    height:40px;
}


.sign{
    display:flex;
    flex-direction: row;

}



.sign-image{
    display:flex;
    width:20px;
    height:20px;
    padding-right: 4px;
}

select{
    border: none;
    outline:none;
    font-size: 15px;
    font-weight: 550;
}




.body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
    padding:0px;
}


.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding:0px;
}

.card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    Width:105%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 5px;
    margin:5px;
    padding:  40px 10px;
    border-radius: 10px;

}

.home-card{
    display:flex;
    flex-direction: column;
    text-align: left;
    
}

.image-1{
    display:flex;
    flex-direction: column;
    width:450px;
    border-radius: 5px;
}

.skill-rating{
    display:flex;
    flex-direction: row;
   align-items: center;
    margin-right: 200px;

}

.rate{
    display:flex;
    padding-left: 5px;
    padding-top: 5px;

}

.course-rating{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    padding-top: 5px;
}

.enroll{
    display:flex;
    flex-direction: row;
    padding:5px;
    margin-right: 100px;

}

.enroll-text{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.enroll-card{
    width:150px;
    height:70px;
    background-color: #aa32cf;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;

}

.five{
    margin:4px;
    font-weight: 550;
}
.white{
    color:white;
    padding:2px;
}

.home-label{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    height:150px;
    background-color: #aa32cf;
    justify-content: space-around;
    border-radius: 7px;
    margin-top: -30px;
    padding:10px;
}
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;

}

.home-label-icons{
    display:flex;
    flex-direction: row ;
    margin:8px;

}

.bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:4px;
}

.curriculum{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 5px;
    padding:50px;
    margin:80px;
}

.home-head{
    display:flex;
    color:white;
    margin:5px;
    width:150px;
}

.head-curriculum{
display:flex;
justify-content: left;
margin-right: 550px;
color:#aa32cf;
}

.template{
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}

.temp{
    display:flex;
    flex-direction: column;
   
}

.download{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    border-radius: 7px;
}

.download-link{
    display:flex;
    padding-bottom:20px;
    padding-right: 5px;
}

.cur-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:80px;
}

.arrow{
    display:flex;
    padding-right: 10px;;
}

.introbar{
    display:flex;
    width:500px;
    height:60px;
    border-width: 5px;
    border-style: solid;
    border-color: #aa32cf;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding-top:5px;
    padding-right: 10px;
    
}

.play{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:60px;
}

.bookmark{
    display:flex;
    justify-content: center;
    align-items: center;
}
.watch{
    padding-left: 5px;
}

.intro{
    padding:0 10px;
}

.cur-2{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.week{
    display:flex;
    width:100px;
    height:40px;
    border-width: 3px;
    border-style: solid;
    border-color: #aa32cf;
    justify-content: center;
    align-items: center;
}

.pole{
    display:flex;
    width:500px;
    height:50px;
    border-style: solid;
    background-color: #aa32cf;
    border-width: 0px;
    border-radius: 10px;
    justify-content: flex-start;
    text-align: center;
}

.pole-head{
    display: flex;
    font-size: 18px;
    color: white;
    width:300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cur-3{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.cur-4{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
  

}

.cur-5{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.week-2{
    display:flex;
    width:200px;
    height:30px;
}

.week-3{
    display:flex;
    width:400px;
    height:40px;
}

.week-4{
    display:flex;
    width:600px;
    height:50px;
}




 
.offers{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 7px;
    width:100vw;
    margin: 40px 0px;

}

.cards{
    display:flex;
    flex-direction: row;
     
   

    align-items: center;
    padding:80px 0px;

}

.offer-head{
    display:flex;
    margin-top: 40px;
    margin-bottom: -30px;
}

.left-card{
    display:flex;
    flex-direction: column;
    width:440px;
    height:220px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding-bottom: -12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 7px;
    margin-left: 50px;
    background-color:#50C7C7;


}

.right-card{
    display:flex;
    flex-direction: column;
    width:420px;
    height:220px;
    border-radius: 7px;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 7px;
    margin-right:100px;
    background-color: #50C7C7;



}

.offers-card-head{
    display:flex;
    font-size: 30px;
    color:rebeccapurple;
    font-weight: 600;
    margin-left: 50px;

}
.circle{
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 220px;
    border-radius: 150px 150px 0 0;
    background-color: green;
    transform: rotate(90deg);
    margin-top: -165px;
    margin-left: -5px;
    background-color: white;
    border-style:none;
     
}

.circle-2{
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 220px;
    border-radius: 150px 150px 0 0;
    background-color: green;
    transform: rotate(90deg);
    margin-top: -170px;
    margin-left: -65px;
    background-color: whitesmoke;
    
}

.get{
    margin-left: 50px;
}



.explore{
    display:flex;
    width:200px;
    background-color: rebeccapurple;
    height:40px;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    border-radius: 7px;
    margin-left: 40px;
}
.get{
    display:flex;
    font-weight:600px;
}

.card-1{
  
   margin: 20px 50px;
    
}



.about{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    margin:100px 0px;
}

.about-course{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: plum;
    border-radius: 7px;
    width:80vw;
    height:100vh;


}

.course{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 10px;

    
}

.about-template{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
 
    border-radius: 7px;
}

.about-star{
    margin:10px;
}

.about-head{
    margin:30px;
    text-align: left;
    margin-right: 750px;

}

.circle-logo{
    display:flex;
    width:400px;
}

.circle-image{
    display:flex;
    width:500px;
    height:auto;
    margin: 50px 20px;

}

.about-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    width:600px;
    height:350px;
    padding:10px;
    margin-left: 20px;
    border-color: rebeccapurple;
}

.about-content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width:600px;

}

.about-arrow{
    
    margin: 0px 50px;
}

.table-head{
    display:flex;
    width:400px;
}

.about-card-label{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:-30px;
}

.about-card{
    display:flex;
    flex-direction: column;
    width:70%;
    height:40;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: -150px;
    background-color: whitesmoke;
}

.about-card-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    margin-right: 100px;

}

.about-trns{
    display:flex;
    flex-direction: column;
    margin-right: 200px;
}

.about-benefits{
    margin-right:700px;
    color:rebeccapurple;
}

.about-card-picture{
    display:flex;
    width:200px;
    height:200px;
    border-style: solid;
    border-style: none ;
    background-color: grey;
}



.learn{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:250px;
    background-color: violet;
    justify-content: center;
    margin:40px 0px;
    padding-left: 40px;
    
}

.learn-box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    padding:20px;
}

.learn-head{
    display:flex;
    font-weight:600;
    margin-top: 40px;
    margin-left: 40px;
}



.Faqs{
    display:flex;
    flex-direction:column;
    width:70vw;
    height:25vh;
    background-color: #D1835C;
    justify-content: center;
    padding:20px;
    border-radius:7px;
}

.faq-label{
    font-weight:600px;
    color:rebeccapurple;
}

.question{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    align-items:center;
}

.question-box{
    display:flex;
    flex-direction: row;
    width:800px;
    height:40px;
    border-radius: 7px;
    justify-content: flex-start;
    align-items: center;
    background-color: orange;
    padding:10px;
}

.post{
    display:flex;
    width:70px;
    height:40px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.previous{
    display:flex;
    width:500px;
    color:blue;
    font-weight:600;

}

.footer{
    display:flex;
    flex-direction: row;
    width:100vw;
    height:50vh;
    background-color: rgb(68, 75, 72);
    justify-content: space-evenly;
    align-items: center;
    padding-bottom:-100px;
}

.other{
    display:flex;
    flex-direction: column;
    padding-top:10px;
    margin-right: 100px;;
    color:white;
}

.contact{
    display:flex;
    flex-direction:column;
    margin-bottom: 50px;
    margin-right: 100px;;
    color:white;
}

.social-contact{
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;;
    margin-bottom: 100px;;
    color:white;
}

.social-link{
    padding:4px;
}